<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>导航栏示例</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/image.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/image.css') }}">
</head>
<body class="bg-gray-800 text-gray-300">
<div class="bg-gray-900 flex space-x-6 py-4 ">
    <label class="text-gray-300 py-1 px-3 mr-2 mr-4 text-2xl" style="font-weight: bold">Refactor</label>

    <div class="flex space-x-6 text-gray-300 py-1 px-3 mr-2 mr-4 text-xl" style="font-weight: bold">
        <a href="/" class="hover:text-gray-400  px-6 hover:bg-gray-600">小说</a>
        <a href="poetry" class="hover:text-gray-400  px-6 hover:bg-gray-600">诗歌</a>
        <a href="image" class="hover:text-gray-400   px-6 border border-gray-600  hover:bg-gray-600">绘图</a>
    </div>
</div>

<div class="bg-gray-900 mr-4 mt-8 ml-4 pb-12">
    <nav class="left-4 flex py-2">
        <button class="bg-gray-600 text-gray-300 py-1 px-3 mr-2 hover:bg-gray-600 mr-4 text-xl" id="tab1">展开画卷
        </button>
        <button class="bg-gray-900 text-gray-300 py-1 px-3 mr-2 hover:bg-gray-600 mr-4 text-xl" id="tab2">注入灵感
        </button>
        <button class="bg-gray-900 text-gray-300 py-1 px-3 mr-2 hover:bg-gray-600 mr-4 text-xl" id="tab3">作品生成
        </button>
    </nav>

    <hr class="border-t border-gray-600">

    <div class="mt-8 ml-4 mr-4">
        <div class="content">
            <div id="content1" class="content-item">
                <textarea class="bg-gray-800 text-gray-300 rounded pb-8 truncate h-24 w-full"
                          placeholder="The surrealistic painting features wildflowers blooming against a snowy background, a melting snowflake, footprints fading in the snow, and a distant moon. The color scheme is mostly cool with warm tones in the flowers and heart, creating contrast between vibrant flowers and a cold moon. The heart represents the speaker's struggle between longing and letting go."></textarea>
                <textarea class="mt-4 bg-gray-800 text-gray-300 rounded pb-8 truncate h-24 w-full"
                          placeholder="Negative Prompt"></textarea>

                <div class="mb-12 mt-4 h-24 w-1/2">
                    <div class="flex space-x-2">
                        <label class="block mb-2 w-full">Width</label>
                        <span id="slider-value-width" class="ml-2">512</span>
                    </div>
                    <input id="slider-width" type="range" min="0" max="1024" step="1" value="512" class="slider w-full">

                    <div class="flex space-x-2">
                        <label class="block mb-2 w-full">Height</label>
                        <span id="slider-value-height" class="ml-2">512</span>
                    </div>
                    <input id="slider-height" type="range" min="0" max="1024" step="1" value="512"
                           class="slider w-full">

                </div>
            </div>

            <div id="content2" class="content-item hidden">

                <textarea id="prompt-detail" class="bg-gray-800 text-gray-300 rounded pb-8 truncate h-24 w-full"
                          placeholder="UHD, 4K"></textarea>

                <details class="border rounded-md shadow-md bg-gray-900">
                    <summary class="py-2 px-4 cursor-pointer bg-gray-900 hover:bg-gray-600">
                        质量
                    </summary>

                    <div class="promptList">
                        <div class="PromptItem dnd-item type-word subType-quality disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">UHD</span></div>
                                <div class="langName name"><span>超高清</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-quality disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">best quality</span></div>
                                <div class="langName name"><span>最佳质量</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-quality disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">super detail</span></div>
                                <div class="langName name"><span>非常详细</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>

                        <div class="PromptItem dnd-item type-word subType-quality disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span"> master piece</span></div>
                                <div class="langName name"><span>杰作</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-quality disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">4K</span></div>
                                <div class="langName name"><span>4K</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                    </div>
                </details>

                <details class="border rounded-md shadow-md bg-gray-900">
                    <summary class="py-2 px-4 cursor-pointer bg-gray-900 hover:bg-gray-600">
                        色调
                    </summary>

                    <div class="promptList">
                        <div class="PromptItem dnd-item type-word subType-style disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Black</span></div>
                                <div class="langName name"><span>黑色</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-style disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Red</span></div>
                                <div class="langName name"><span>红色</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-style disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Silver</span></div>
                                <div class="langName name"><span>银色</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-style disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Cyan</span></div>
                                <div class="langName name"><span>青色</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-style disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Blue</span></div>
                                <div class="langName name"><span>蓝色</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                    </div>
                </details>

                <details class="border rounded-md shadow-md bg-gray-900">
                    <summary class="py-2 px-4 cursor-pointer bg-gray-900 hover:bg-gray-600">
                        主题
                    </summary>

                    <div class="promptList">
                        <div class="PromptItem dnd-item type-word subType-command disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Realism</span></div>
                                <div class="langName name"><span>现实主义</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-command disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Surrealism</span></div>
                                <div class="langName name"><span>超现实主义</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-command disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Unrealistic</span></div>
                                <div class="langName name"><span>不真实的</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-command disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">dreamlike</span></div>
                                <div class="langName name"><span>梦幻的</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-command disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">Abstraction</span></div>
                                <div class="langName name"><span>抽象的</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                    </div>
                </details>

                <details class="border rounded-md shadow-md bg-gray-900">
                    <summary class="py-2 px-4 cursor-pointer bg-gray-900 hover:bg-gray-600">
                        容貌
                    </summary>

                    <div class="promptList">
                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">silver hair</span></div>
                                <div class="langName name"><span>银发</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">red hair</span></div>
                                <div class="langName name"><span>红发</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>
                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">green hair</span></div>
                                <div class="langName name"><span>绿发</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>

                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">curly hair</span></div>
                                <div class="langName name"><span>卷发</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>

                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">braid</span></div>
                                <div class="langName name"><span>辫子</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>

                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">double bun</span></div>
                                <div class="langName name"><span>双丸子头</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>

                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">messy hair</span></div>
                                <div class="langName name"><span>凌乱发型</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>

                        <div class="PromptItem dnd-item type-word subType-eg disabled">
                            <div class="content">
                                <div class="displayName name"><span class="leaf_span">ponytail</span></div>
                                <div class="langName name"><span>马尾</span></div>
                            </div>
                            <div class="dnd-slots">
                                <div class="dnd-slot-pre"></div>
                                <div class="dnd-slot-next"></div>
                            </div>
                        </div>

                    </div>
                </details>
            </div>


            <div id="content3" class="content-item hidden">
                <div class="flex space-x-4">
                    <img class="w-full" src="{{ url_for('static', filename='image/poetry_1.png') }}" alt="Image">
                    <img class="w-full" src="{{ url_for('static', filename='image/poetry_2.png') }}" alt="Image">
                </div>

                <div class="flex space-x-4 mt-4">
                    <img class="w-full" src="{{ url_for('static', filename='image/poetry_3.png') }}" alt="Image">
                    <img class="w-full" src="{{ url_for('static', filename='image/poetry_4.png') }}" alt="Image">
                </div>

            </div>

        </div>
        <div class="fixed bottom-4 right-4 space-y-8">
            <button class="bg-yellow-500 text-gray-900 py-4 px-8 mr-4 rounded text-2xl" id="import">导入</button>
            <button class="bg-yellow-500 text-gray-900 py-4 px-8 mr-4 rounded text-2xl" id="export">导出</button>
            <button class="bg-yellow-500 text-gray-900 py-4 px-8 rounded text-2xl" id="generate">生成</button>
        </div>
    </div>


</div>


</body>